.drop {
    margin: 25px 0px;
}

.card_style {
    margin: 25px 0px;
}

.f_btn {
    margin-bottom: 15px;
}

.light {
    background-color: gainsboro;
}

.loadz {
    margin: 25px 0px;
}